@use 'variables';

// Reset some default browser styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family;
  line-height: 1.6;
  color: variables.$dark;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 variables.$spacing;
}
